html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 100%;
    font-family: "Lucida Console", monospace;
}

table, th, td {
    border: 0px;
    border-collapse: collapse;
}

h3 {
    text-align: center;
}

#container {
    width: 100%;
    height: 100%;
    font-size: 1.05em;
}

.todo {
    float: left;
    width: 33%;
    height: 100%;
    background-color: #ff704d;
}

.todo tr:nth-child(even) {
    background-color: #ff5c33;
}

.started {
    float: left;
    width: 33%;
    height: 100%;
    background-color: #ffdb4d;
}

.started tr:nth-child(even) {
    background-color: #ffd633;
}

.completed {
    float: left;
    width: 33%;
    height: 100%;
    background-color: #4dff88;
}

.completed tr:nth-child(even) {
    background-color: #33ff77;
}

.project {
    font-size: 0.5em;
    font-style: italic;
    vertical-align: super;
}
