<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<style>
html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 100%;
    font-family: "Lucida Console", monospace;
}

table, th, td {
    border: 0px;
    border-collapse: collapse;
}

h3 {
    text-align: center;
}

#container {
    width: 100%;
    height: 100%;
    font-size: 1.05em;
}

.todo {
    float: left;
    width: 33%;
    height: 100%;
    background-color: #ff704d;
}

.todo tr:nth-child(even) {
    background-color: #ff5c33;
}

.started {
    float: left;
    width: 33%;
    height: 100%;
    background-color: #ffdb4d;
}

.started tr:nth-child(even) {
    background-color: #ffd633;
}

.completed {
    float: left;
    width: 33%;
    height: 100%;
    background-color: #4dff88;
}

.completed tr:nth-child(even) {
    background-color: #33ff77;
}

.project {
    font-size: 0.5em;
    font-style: italic;
    vertical-align: super;
}

.due_date {
    font-size: 0.7em;
    font-style: italic;
}

.warning {
    font-size: 2em;
    font-style: normal;
    font-weight: bold;
    color: #ff00ff;
}

.uuid {
    font-size: 0.5em;
    padding-right: 0.5em;
}


</style>
<title>Taskwarrior Personal Kanban Board</title>
</head>

<body>
<div id='container'>
<div class="todo">
  <h3>Not started</h3>
  <table width='100%'>
  {% for task in todo_tasks %}
  <tr><td>{{ loop.index }}.</td>
      <td>{{ task.description }} 
          {% if 'project' in task %}
          <span class='project'>[{{ task.project }}]</span>
          {% endif %}
          {% if 'due' in task %}
          {% if task.due == 0 %}
          <span class='warning'>⚠ </span><span class='due_date'>(Due today)</span>
          {% elif task.due < 0 %}
          <span class='due_date'>(Overdue)</span>
          {% else %}
          <span class='due_date'>(Due in {{ task.due }} days)</span>
          {% endif %}
          {% endif %}
      </td>
  </tr>
  {% endfor %}
  </table>
</div>
<div class="started">
  <h3>In progress</h3>
  <table width='100%'>
  {% for task in started_tasks %}
  <tr><td>{{ loop.index }}.</td>
      <td>{{ task.description }}
          {% if 'project' in task %}
          <span class='project'>[{{ task.project }}]</span>
          {% endif %}
          {% if 'due' in task %}
          {% if task.due == 0 %}
          <span class='warning'>⚠ </span><span class='due_date'>(Due today)</span>
          {% elif task.due < 0 %}
          <span class='due_date'>(Overdue)</span>
          {% else %}
          <span class='due_date'>(Due in {{ task.due }} days)</span>
          {% endif %}
          {% endif %}
      </td>
  </tr>
  {% endfor %}
  </table>
</div>
<div class="completed">
  <h3>Done</h3>
  <table width='100%'>
  {% for task in completed_tasks %}
  <tr><td class="uuid">{{ task.uuid[:4] + '<wbr>' + task.uuid[4:8] }}</td>
      <td><s>{{ task.description }}</s>
          {% if 'project' in task %}
          <span class='project'>[{{ task.project }}]</span>
          {% endif %}
      </td>
  </tr>
  {% endfor %}
  </table>
</div>
</div>
</body>
</html>
